## pd.merge()

In [1]:
import pandas as pd

In [2]:
fruit = pd.DataFrame({'Num':[123,456,789,1011,1112], 'Fruit': ['Apple', 'Banana', 'Cherry','Lemon', 'peach']})
grade = pd.DataFrame({'Num':[123,789,1314], 'Grade': ['A','B','C']})

print(fruit, '\n')
print(grade)

    Num   Fruit
0   123   Apple
1   456  Banana
2   789  Cherry
3  1011   Lemon
4  1112   peach

    Num Grade
0   123     A
1   789     B
2  1314     C

### Left Join

In [3]:
pd.merge(fruit, grade, on='Num', how = 'left') # on columns 명이 똑같은 이름이여만 한다

    Num   Fruit Grade
0   123   Apple     A
1   456  Banana   NaN
2   789  Cherry     B
3  1011   Lemon   NaN
4  1112   peach   NaN

In [7]:
pd.merge(grade, fruit, on='Num', how= 'left') 
# pd.merge(fruit, grade, on= "Num", how = 'right) 같은거임

    Num Grade   Fruit
0   123     A   Apple
1   789     B  Cherry
2  1314     C     NaN

### Inner Join

In [8]:
pd.merge(fruit, grade, on = 'Num', how = 'inner')

   Num   Fruit Grade
0  123   Apple     A
1  789  Cherry     B

### Outer Join

In [9]:
pd.merge(fruit, grade, on = 'Num', how= 'outer')

    Num   Fruit Grade
0   123   Apple     A
1   456  Banana   NaN
2   789  Cherry     B
3  1011   Lemon   NaN
4  1112   peach   NaN
5  1314     NaN     C

## [pd.concat()](https://pandas.pydata.org/docs/reference/api/pandas.concat.html)

>무언가를 물리적으로 합칠경우 concat이 유리

>겹치는 colunms가 없고 index가 겹칠 경우 데이터를 통합적으로 분석하기 위해 사용

In [10]:
import pandas as pd

In [12]:
df1 = pd.DataFrame({'a':['a0','a1','a2','a3'],
                    'b':['b0','b1','b2','b3'],
                    'c':['c0','c1','c2','c3']},
                    index = [0,1,2,3])

df2 = pd.DataFrame({'a':['a2','a3','a4','a5'],
                    'b':['b2','b3','b4','b5'],
                    'c':['c2','c3','c4','c5'],
                    'd':['d2','d3','d4','d5']},
                    index = [2,3,4,5])

print(df1, '\n')
print(df2)

    a   b   c
0  a0  b0  c0
1  a1  b1  c1
2  a2  b2  c2
3  a3  b3  c3

    a   b   c   d
2  a2  b2  c2  d2
3  a3  b3  c3  d3
4  a4  b4  c4  d4
5  a5  b5  c5  d5

### 행방향으로 합치기

In [16]:
result1 = pd.concat([df1,df2], axis = 0)
result1

    a   b   c    d
0  a0  b0  c0  NaN
1  a1  b1  c1  NaN
2  a2  b2  c2  NaN
3  a3  b3  c3  NaN
2  a2  b2  c2   d2
3  a3  b3  c3   d3
4  a4  b4  c4   d4
5  a5  b5  c5   d5

인덱스 재정의

> concat은 꼭 인덱스의 재정의가 필요하다

In [17]:
result2 = pd.concat([df1,df2], axis=0)
result2.reset_index(inplace= True)
result2

   index   a   b   c    d
0      0  a0  b0  c0  NaN
1      1  a1  b1  c1  NaN
2      2  a2  b2  c2  NaN
3      3  a3  b3  c3  NaN
4      2  a2  b2  c2   d2
5      3  a3  b3  c3   d3
6      4  a4  b4  c4   d4
7      5  a5  b5  c5   d5

inner join
> join 관련은 merge가 대부분 좋다

In [19]:
result3 = pd.concat([df1,df2], ignore_index =True, join = 'inner')
result3

    a   b   c
0  a0  b0  c0
1  a1  b1  c1
2  a2  b2  c2
3  a3  b3  c3
4  a2  b2  c2
5  a3  b3  c3
6  a4  b4  c4
7  a5  b5  c5

### 열방향으로 합치기

>merge가 이상적

In [20]:
result4 = pd.concat([df1,df2], axis=1)
result4

     a    b    c    a    b    c    d
0   a0   b0   c0  NaN  NaN  NaN  NaN
1   a1   b1   c1  NaN  NaN  NaN  NaN
2   a2   b2   c2   a2   b2   c2   d2
3   a3   b3   c3   a3   b3   c3   d3
4  NaN  NaN  NaN   a4   b4   c4   d4
5  NaN  NaN  NaN   a5   b5   c5   d5

inner join

In [21]:
result5 = pd.concat([df1,df2], axis=1, join= 'inner')
result5

# Nan 값이 있는 줄을 다 날려버린다

    a   b   c   a   b   c   d
2  a2  b2  c2  a2  b2  c2  d2
3  a3  b3  c3  a3  b3  c3  d3

인덱스 재정의

In [22]:
result5.reset_index(inplace=True)
result5

   index   a   b   c   a   b   c   d
0      2  a2  b2  c2  a2  b2  c2  d2
1      3  a3  b3  c3  a3  b3  c3  d3

### 시리즈와 합치기

In [23]:
sr1 = pd.Series(['e0', 'e1', 'e2', 'e3'], name = 'e')
sr1

0    e0
1    e1
2    e2
3    e3
Name: e, dtype: object

In [24]:
result6 = pd.concat([df1,sr1], axis=1)
result6

    a   b   c   e
0  a0  b0  c0  e0
1  a1  b1  c1  e1
2  a2  b2  c2  e2
3  a3  b3  c3  e3